/* lp-menu */
.lp-menu {
    width: var(--size-five);
    height: var(--size-five);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--cor-one);
}

.lp-menu__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lp-menu__navbar img {
    max-width: var(--size-twenty);
}

.lp-menu__navmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--size-twenty);
}

.lp-menu__navlink {
    font-family: var(--font-one);
    color: var(--cor-one);
    padding: var(--size-nine);
    transition: 0.7s ease;
}

.lp-menu__navlink:hover {
    color: var(--cor-four);
}

.lp-menu__hamb {
    display: none;
    cursor: pointer;
}

.lp-menu__bar {
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--cor-one);
}

@media(max-width: 768px) {
    .lp-menu__hamb {
        display: block;
    }

    .lp-menu__hamb.active .lp-menu__bar:nth-child(2) {
        opacity: 0;
    }

    .lp-menu__hamb.active .lp-menu__bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .lp-menu__hamb.active .lp-menu__bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .lp-menu__navmenu {
        --_size-70: 70px;

        position: fixed;
        left: -100%;
        top: var(--_size-70);
        gap: 0;
        flex-direction: column;
        background-color: var(--cor-tree);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .lp-menu__navitem {
        --_size-16: 16px 0;

        margin: var(--_size-16);
    }

    .lp-menu__navmenu.active {
        left: 0;
    }
}