:root {
    /* corlor */
    --cor-bg: #000000;
    --cor-one: #ffffff;
    --cor-two: #030d64;
    --cor-tree: #1d6cd4;
    --cor-four: #fb2d4c;
    --cor-five: #0c3e8a;
    --cor-six: #90ff74;
    --cor-seven: #f1ef57;
    --cor-eight: #fc3838;

    /* font */
    --font-one: 'Roboto Mono', serif;
    --font-two: 'Oswald', serif;

    /* font size */
    --fontsize-11: 1.1rem;
    --fontsize-12: 1.2rem;
    --fontsize-13: 1.3rem;
    --fontsize-14: 1.4rem;
    --fontsize-15: 1.5rem;
    --fontsize-16: 1.6rem;
    --fontsize-17: 1.7rem;
    --fontsize-18: 1.8rem;
    --fontsize-19: 1.9rem;
    --fontsize-20: 2rem;

    /* size */
    --size-hundred: 100%;
    --size-20: 20px;
    --size-40: 40px;
    --size-1360: 1360px;
}